.single-content__product {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    cursor: pointer;
    
    img {
        height: 400px;
        object-fit: cover;
        border-radius: 5px 5px 0 0 ;
        padding-bottom: 12px;
    }

    .info-product {
        display: flex;
        justify-content: space-between;
        
        h1 {
            font-size: 1.25rem;
            font-weight: 400;
            color: var(--black-color-o5);
            padding-bottom: 12px;
            max-width: 15ch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p {
            color: var(--black-color-o6);
            font-weight: 600;
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 834px) {
    .single-content__product {
    
        img {
            max-height: 200px;
        }
    
        .info-product {
            display: flex;
            justify-content: space-between;
            
            h1 {
                font-size: 1rem;
                color: var(--black-color-o5);
                padding-bottom: 12px;
            }
    
            p {
                color: var(--black-color-o6);
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .single-content__product {
        min-width: 280px;
    }
}